In [29]:
# Import needed packages
# You may add or remove packages should you need them
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.datasets import load_iris
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.model_selection import KFold, LeaveOneOut, cross_val_score

# Set random seed
np.random.seed(0)

# Display plots inline and change plot resolution to retina
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
# Set Seaborn aesthetic parameters to defaults
sns.set()

In [30]:
# Load the Iris dataset included with scikit-learn
iris = load_iris()

In [31]:
# Put data in a pandas DataFrame
df_iris = pd.DataFrame(iris.data, columns=iris.feature_names)
df_iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [34]:
# Add target and class to DataFrame
df_iris["target"] = iris.target

In [35]:
# Show 10 random samples
df_iris.sample(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
92,5.8,2.6,4.0,1.2,1
141,6.9,3.1,5.1,2.3,2
130,7.4,2.8,6.1,1.9,2
119,6.0,2.2,5.0,1.5,2
48,5.3,3.7,1.5,0.2,0
143,6.8,3.2,5.9,2.3,2
122,7.7,2.8,6.7,2.0,2
63,6.1,2.9,4.7,1.4,1
26,5.0,3.4,1.6,0.4,0
64,5.6,2.9,3.6,1.3,1

In [23]:
# now... implement the LDA (bear in mind that you do pass it the y's and it is supervised!)
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()

In [4]:
# same process as always, identify your X's and your y's

In [6]:
#train-test-split

In [5]:
# Scale the X's

StandardScaler(copy=True, with_mean=True, with_std=True)

In [7]:
# apply the lda transformation

In [ ]:
# select 2 principal components

In [ ]:
# take a look at the new axes for the data and plot them

In [ ]:
# what about the variability?

In [1]:
# Run a Random Forest Classifier with the transformed data

In [2]:
#Check the new acuracy! Is it higher or lower than what you obtain selecting 2 features and applying a Random Forest Directly?